apiVersion: v1 
kind: Secret
metadata:
  name: "thrift-server"
  namespace: "{{ meta.namespace }}"
  labels:
    app: "thrift-server"
stringData: 
  AWS_ACCESS_KEY_ID: "{{ aws_access_key_id }}"
  AWS_SECRET_ACCESS_KEY: "{{ aws_secret_access_key }}"
  
  