{
    "kind": "BuildConfig",
    "apiVersion": "build.openshift.io/v1",
    "metadata": {
        "name": "jupyterhub",
        "namespace": "{{ meta.namespace }}",
        "labels": {
            "build": "jupyterhub",
            "app": "jupyterhub"
        }
    },
    "spec": {
        "triggers": [
            {
                "type": "ConfigChange"
            }
        ],
        "source": {
            "type": "Git",
            "git": {
                "uri": "https://github.com/jupyter-on-openshift/jupyterhub-quickstart.git",
                "ref": "3.0.7"
            }
        },
        "strategy": {
            "type": "Source",
            "sourceStrategy": {
                "forcePull": true,
                "from": {
                    "kind": "DockerImage",
                    "name": "registry.access.redhat.com/ubi7/python-36"
                }
            }
        },
        "output": {
            "to": {
                "kind": "ImageStreamTag",
                "name": "jupyterhub:latest"
            }
        },
        "resources": {
            "limits": {
                "cpu": "1",
                "memory": "1Gi"
            }
        }
    }
}
