apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: hue
  namespace: "{{ meta.namespace }}"
  labels:
    app: hue
spec:
  port:
    targetPort: 8000-tcp
  to:
    kind: Service
    name: hue
    weight: 100
  wildcardPolicy: None
